.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: .5rem solid var(--white);
  padding: 1.6rem;
  
}
  .box-navbar {
    display: flex;
    gap: 3.2rem;
  }
  .box-introduce {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 20rem 0;
  }