.container-content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: var(--midnightblue);
  padding: 10rem 1.6rem;
}
  .wrapper-section, .wrapper-article, .wrapper-aside {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    max-width: 94rem;
    margin: auto;
  }
  .wrapper-article .wrapper-video {
    position: relative;
    padding-bottom: 56.3%;
  }
    .wrapper-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }
  .wrapper-aside {
    border-top-left-radius: 1.6rem;
    padding: 1.6rem;
    background-image: var(--bgImage-aside);
    overflow: hidden;
  }
