.component-title {
  font-size: 2em;
}

/* VARIATIONS */
.component-title.-header {
  font-size: 2.7em;
  font-weight: 800;
  text-align: center;
  background-image: var(--bgImage-title);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.component-title.-aside {
  font-size: 1.5em;
  font-weight: 600;
  background-image: var(--bgImage-title);
  border-bottom: 1rem solid var(--midnightblue);
  padding: 1.6rem;
  margin: -1.6rem -1.6rem 0;
}

