.component-strong {
  font-size: inherit;
  color: var(--green);
}

/* VARIATIONS */
.component-strong.-footer {
  background-image: var(--bgImage-title);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}