.component-list {
  padding: 1.6rem;
  columns: 1;
  line-height: 1.5;
}

.component-list li {
  font-weight: 500;
  color: var(--orange);
}

.component-list li abbr {
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 570px) {
  .component-list {
    columns: 2;
  }
}