html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  background-color: var(--bluealmostblack);
  max-width: 144rem;
  margin: auto;
  
  font-size: 1.4rem;
  color: var(--white);
}

@media screen and (min-width: 375px) {
  body {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 570px) {
  body {
    font-size: 1.8rem;
  }
}